/*
    General styles
*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
body {
    padding: min(50px, 7%);
    background-image: linear-gradient(to bottom, hsl(220, 15%, 12%), hsl(220, 15%, 8%));
    color: hsl(0, 0%, 100%); /* Keeps text readable */
}
h1{
    color: white;
    text-transform: uppercase;
    letter-spacing: 10px;
    font-size: 2.4rem;
}

h2{
    padding-bottom: 10px;
}

/* 
    Individual cards for the Books
*/

.card{
    padding: 2em;
    border: none;
    border-radius: 14px;
    background-color: hsl(223, 9%, 20%);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

/* Hover effect for INteractivity */

.card:hover {
    transform: translateY(-5px); /* Lift slightly on hover */
}
.grid-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    justify-content: center;
    gap: 15px;
}

/* Improves Typography for better design and modern look */
.card h2 {
    font-size: 1.5rem;
    color: hsl(0, 0%, 95%);
    margin-bottom: 0.5em;
}
.card p {
    font-size: 1rem;
    color: hsl(0, 0%, 80%);
    margin-bottom: 0.3em;
    line-height: 1.4;
}
